In [1]:
from google.colab import drive
drive.mount('/content/dive/')

Drive already mounted at /content/dive/; to attempt to forcibly remount, call drive.mount("/content/dive/", force_remount=True).

In [2]:
! ls '/content/dive/My Drive/AI Projects/Server_Hacked/Dataset'

sample_submission.csv	  Test.csv   Train_dateSorted.csv
sample_submission.gsheet  Train.csv  Train_dateSorted_featureExtracted.csv

In [0]:
# ! pip uninstall pandas-profiling
# ! pip install pandas-profiling[notebook]

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

# settings
import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
def job_completion_alert():
  from google.colab import output
  import time

  for i in range(3):
    # Play an audio beep. Any audio URL will do.
    output.eval_js('new Audio("https://upload.wikimedia.org/wikipedia/commons/0/05/Beep-09.ogg").play()')
    # Sleep for a few seconds.
    time.sleep(2)

In [6]:
df_train = pd.read_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/Train.csv')
df_test = pd.read_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/Test.csv')
df_train.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
0   CR_102659  04-JUL-04    0   36  ...    92    29    36                 0
1   CR_189752  18-JUL-17    1   37  ...   103   142    34                 1
2   CR_184637  15-MAR-17    0    3  ...   110    93    34                 1
3   CR_139071  13-FEB-09    0   33  ...    72    29    34                 1
4   CR_109335  13-APR-05    0   33  ...   112    29    43                 1

[5 rows x 18 columns]

In [7]:
df_train.columns

Index(['INCIDENT_ID', 'DATE', 'X_1', 'X_2', 'X_3', 'X_4', 'X_5', 'X_6', 'X_7',
       'X_8', 'X_9', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15',
       'MULTIPLE_OFFENSE'],
      dtype='object')

In [8]:
df_test.columns

Index(['INCIDENT_ID', 'DATE', 'X_1', 'X_2', 'X_3', 'X_4', 'X_5', 'X_6', 'X_7',
       'X_8', 'X_9', 'X_10', 'X_11', 'X_12', 'X_13', 'X_14', 'X_15'],
      dtype='object')

The dataset has a date column. Will sort the dataset according to date.

Converting the DATE column to a standard pandas date format. Then sort it according to date

In [0]:
df_train['DATE'] = pd.to_datetime(df_train.DATE)
df_test['DATE'] = pd.to_datetime(df_train.DATE)

In [10]:
df_train.sort_values(by=['DATE'], inplace=True)
df_train.head()

      INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
19022     CR_1141 1991-01-01    0   22  ...    72   142    34                 1
13104     CR_2248 1991-01-02    0   33  ...    72   142    34                 1
1617      CR_3131 1991-01-03    1   36  ...    92    93     0                 1
6187      CR_3546 1991-01-04    0   39  ...    72    62    34                 1
1761       CR_821 1991-01-05    1   22  ...   103    93    48                 1

[5 rows x 18 columns]

In [11]:
# resetting the dataframe index to new time sorted values
df_train.reset_index(drop=True, inplace=True)
df_train.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
0     CR_1141 1991-01-01    0   22  ...    72   142    34                 1
1     CR_2248 1991-01-02    0   33  ...    72   142    34                 1
2     CR_3131 1991-01-03    1   36  ...    92    93     0                 1
3     CR_3546 1991-01-04    0   39  ...    72    62    34                 1
4      CR_821 1991-01-05    1   22  ...   103    93    48                 1

[5 rows x 18 columns]

In [0]:
# For Train Data
df_train['year'] = df_train['DATE'].dt.year
df_train['month'] = df_train['DATE'].dt.month
df_train['day'] = df_train['DATE'].dt.day
df_train['dayofweek'] = df_train['DATE'].dt.dayofweek

# For Test Data
df_test['year'] = df_test['DATE'].dt.year
df_test['month'] = df_test['DATE'].dt.month
df_test['day'] = df_test['DATE'].dt.day
df_test['dayofweek'] = df_test['DATE'].dt.dayofweek

In [13]:
df_train.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  year  month  day  dayofweek
0     CR_1141 1991-01-01    0   22  ...  1991      1    1          1
1     CR_2248 1991-01-02    0   33  ...  1991      1    2          2
2     CR_3131 1991-01-03    1   36  ...  1991      1    3          3
3     CR_3546 1991-01-04    0   39  ...  1991      1    4          4
4      CR_821 1991-01-05    1   22  ...  1991      1    5          5

[5 rows x 22 columns]

In [0]:
df_train.info()

In [0]:
# Years uutill current_year
current_year = 2020
df_train['currentYear-year'] = df_train['year'].map(lambda year: current_year-year)
df_test['currentYear-year'] = df_test['year'].map(lambda year: current_year-year)

In [16]:
df_train.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  month  day  dayofweek  currentYear-year
0     CR_1141 1991-01-01    0   22  ...      1    1          1                29
1     CR_2248 1991-01-02    0   33  ...      1    2          2                29
2     CR_3131 1991-01-03    1   36  ...      1    3          3                29
3     CR_3546 1991-01-04    0   39  ...      1    4          4                29
4      CR_821 1991-01-05    1   22  ...      1    5          5                29

[5 rows x 23 columns]

Dataset doesnot have any null field

In [0]:
# Saving date-sorted dataset to drive
df_train.to_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/Train_dateSorted.csv')
df_test.to_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/Test_dateSorted.csv')

Pandas Profiling

In [0]:
# report = ProfileReport(df_train, title='Pandas Profiling Report', explorative=True)
# report

Checking if the dataset is balanced/imbalanced

In [19]:
# # python check if dataset is imbalanced : https://www.kaggle.com/rafjaa/resampling-strategies-for-imbalanced-datasets

# target_count = df_train['MULTIPLE_OFFENSE'].value_counts()
# print('Class 0 (No):', target_count[0])
# print('Class 1 (Yes):', target_count[1])
# print('Proportion:', round(target_count[0] / target_count[1], 2), ': 1')

# target_count.plot(kind='bar', title='Malicious Vs Non-malicious')

Class 0 (No): 1068
Class 1 (Yes): 22788
Proportion: 0.05 : 1

Therefore, the dataset seems to be heavily imbalanced.

In [0]:
# for idx, feature in enumerate(list(df_train.columns)[2:-1]):
#     fg = sns.FacetGrid(df_train, hue='MULTIPLE_OFFENSE', height=3, aspect=2.5)
#     fg.map(sns.distplot, feature).add_legend()
#     plt.show()

Checking for NaN values

In [21]:
# df_train.isnull().any()

INCIDENT_ID         False
DATE                False
X_1                 False
X_2                 False
X_3                 False
X_4                 False
X_5                 False
X_6                 False
X_7                 False
X_8                 False
X_9                 False
X_10                False
X_11                False
X_12                 True
X_13                False
X_14                False
X_15                False
MULTIPLE_OFFENSE    False
year                False
month               False
day                 False
dayofweek           False
currentYear-year    False
dtype: bool

Calculating column mean

In [0]:
# # mean of columns
# df_train.mean(axis = 0)

Calculating column median

In [0]:
# # median of columns
# df_train.median(axis = 0)

In [0]:
labels = df_train['MULTIPLE_OFFENSE'].values
df_train.drop(['INCIDENT_ID','DATE','MULTIPLE_OFFENSE'], axis=1, inplace=True)
df_test.drop(['INCIDENT_ID','DATE','MULTIPLE_OFFENSE'], axis=1, inplace=True, errors='ignore')

In [0]:
# replacing nan values with median ===== ###Can be made a class later
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values = np.nan, strategy ='median') 
imputer = imputer.fit(df_train) 

# Imputing the data      
df_train = imputer.transform(df_train)
df_test = imputer.transform(df_test)

Splitting Data into train-cv

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(df_train, labels, test_size=0.20, shuffle=False)

Modelling

In [0]:
%%time
# Train multiple models : https://www.kaggle.com/tflare/testing-multiple-models-with-scikit-learn-0-79425
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.linear_model import SGDClassifier

from sklearn.model_selection import TimeSeriesSplit, cross_val_score

models = []

LogisticRegression = LogisticRegression(n_jobs=-1, class_weight="balanced")
LinearSVC = LinearSVC(class_weight="balanced")
KNeighbors = KNeighborsClassifier(n_jobs=-1)
DecisionTree = DecisionTreeClassifier(class_weight="balanced")
RandomForest = RandomForestClassifier(n_jobs=-1, class_weight="balanced")
AdaBoost = AdaBoostClassifier()
Bagging = BaggingClassifier(n_jobs=-1)
ExtraTrees = ExtraTreesClassifier(n_jobs=-1, class_weight="balanced")
GradientBoosting = GradientBoostingClassifier()
LogisticRegressionCV = LogisticRegressionCV(n_jobs=-1, class_weight="balanced")
#Stacking = StackingClassifier()

models.append(("LogisticRegression",LogisticRegression))
models.append(("LinearSVC", LinearSVC))
models.append(("KNeighbors", KNeighbors))
models.append(("DecisionTree", DecisionTree))
models.append(("RandomForest", RandomForest))
models.append(("AdaBoost", AdaBoost))
models.append(("Bagging", Bagging))
models.append(("ExtraTrees", ExtraTrees))
models.append(("GradientBoosting", GradientBoosting))
models.append(("LogisticRegressionCV", LogisticRegressionCV))
# models.append("Stacking", Stacking)

metric_names = ['f1', 'average_precision', 'accuracy', 'precision', 'recall']
tscv = TimeSeriesSplit(n_splits=5)
results = []
names = []

nested_dict = {}

for name,model in models:
  nested_dict[name] = {}
  for metric in metric_names:
    score = cross_val_score(model, X_train, y_train, n_jobs=-1, scoring=metric, cv=tscv)
    nested_dict[name][metric] = score.mean()

# Alarm!!
job_completion_alert()

In [0]:
import json
print(json.dumps(nested_dict, sort_keys=True, indent=4))

In [0]:
def score(actual_value,predicted_values):
  from sklearn.metrics import confusion_matrix 
  from sklearn.metrics import accuracy_score 
  from sklearn.metrics import classification_report 
  from sklearn.metrics import recall_score
  
  actual = actual_value
  predicted = predicted_values
  results = confusion_matrix(actual, predicted) 
  
  print('Confusion Matrix :')
  print(results) 
  print('Accuracy Score :',accuracy_score(actual, predicted))
  print('Report : ')
  print(classification_report(actual, predicted))
  print('Recall Score : ')
  print(recall_score(actual, predicted))

In [0]:
from pprint import pprint 
alg = RandomForest
alg.fit(X_train, y_train)
predictions = alg.predict(X_cv)
pprint(alg.get_params())

Hyperparameter tuning the RandomForest Classifier

In [0]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 20)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

In [0]:
# GridSearchCV : https://scikit-learn.org/stable/auto_examples/model_selection/plot_randomized_search.html#sphx-glr-auto-examples-model-selection-plot-randomized-search-py

from time import time
# Utility function to report best scores
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})"
                  .format(results['mean_test_score'][candidate],
                          results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

# tscv = TimeSeriesSplit(n_splits=5)
# run randomized search
n_iter_search = 400
random_search = RandomizedSearchCV(alg, param_distributions=random_grid, n_iter=n_iter_search, n_jobs=-1, verbose=100)

start = time()
random_search.fit(X_train, y_train)
print("RandomizedSearchCV took %.2f seconds for %d candidates"
      " parameter settings." % ((time() - start), n_iter_search))
report(random_search.cv_results_)

# Alarm!!
job_completion_alert()

In [0]:
# Without Hyperparameter Tuning:
score(y_cv,predictions)

In [0]:
# With Hyperparameter Tuning:
predictions_random_search = random_search.predict(X_cv)
score(y_cv,predictions_random_search)

In [0]:
from sklearn.externals import joblib

In [0]:
joblib.dump(random_search.best_estimator_, '/content/dive/My Drive/AI Projects/Server_Hacked/novartis_classifier.pkl', compress = 1)

In [0]:
trained_model = joblib.load('/content/dive/My Drive/AI Projects/Server_Hacked/novartis_classifier.pkl')

In [0]:
# With Hyperparameter Tuning:
predictions_trained_model = trained_model.predict(X_cv)
score(y_cv,predictions_trained_model)

In [0]:
# On test data
read = pd.read_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/Test.csv')
predictions_trained_model_test = trained_model.predict(df_test)

In [0]:
submission = pd.DataFrame({
        "INCIDENT_ID": read["INCIDENT_ID"],
        "MULTIPLE_OFFENSE": predictions_trained_model_test
    })

submission.to_csv('/content/dive/My Drive/AI Projects/Server_Hacked/Dataset/submission.csv', index=False)

In [42]:
submission.head()

  INCIDENT_ID  MULTIPLE_OFFENSE
0   CR_195453                 1
1   CR_103520                 1
2   CR_196089                 1
3   CR_112195                 1
4   CR_149832                 1