In [ ]:
import pandas as pd
import numpy as np
import io
import gc
import time
import PIL.Image as Image
import matplotlib.pylab as plt
from datetime import date

import tensorflow as tf
import tensorflow_hub as hub

# settings
import warnings
warnings.filterwarnings("ignore")
gc.enable()

In [ ]:
# connect to google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
gDriveTrainImages = '/content/drive/MyDrive/Datasets/Hackerearth_vehicle_insurance_claim/dataset/trainImages/'
gDriveTestImages = '/content/drive/MyDrive/Datasets/Hackerearth_vehicle_insurance_claim/dataset/testImages/'
gDrivePath = '/content/drive/MyDrive/Datasets/Hackerearth_vehicle_insurance_claim/dataset/'

In [ ]:
df_train = pd.read_csv(gDrivePath+'train.csv')
df_train.head()

        Image_path Insurance_company  ...  Condition  Amount
0  img_4513976.jpg                BQ  ...          0     0.0
1  img_7764995.jpg                BQ  ...          1  6194.0
2   img_451308.jpg                 A  ...          0     0.0
3  img_7768372.jpg                 A  ...          1  7699.0
4  img_7765274.jpg                AC  ...          1  8849.0

[5 rows x 8 columns]

In [ ]:
df_test = pd.read_csv(gDrivePath+'test.csv')
df_test.head()

        Image_path Insurance_company  ...  Expiry_date  Max_coverage
0  img_4538519.jpg                 B  ...   2025-04-12        5978.0
1  img_7766002.jpg                 C  ...   2028-08-24        7153.0
2  img_4637390.jpg                AC  ...   2023-11-28       11003.0
3  img_4516108.jpg                BB  ...   2028-02-04       11603.0
4  img_4517008.jpg                BB  ...   2022-01-03       10253.0

[5 rows x 6 columns]

In [ ]:
df_train.dtypes

Image_path            object
Insurance_company     object
Cost_of_vehicle      float64
Min_coverage         float64
Expiry_date           object
Max_coverage         float64
Condition              int64
Amount               float64
dtype: object

In [ ]:
df_train.isnull().any()

Image_path           False
Insurance_company    False
Cost_of_vehicle       True
Min_coverage          True
Expiry_date          False
Max_coverage          True
Condition            False
Amount                True
dtype: bool

In [ ]:
# Preprocess Date field
df_train['Expiry_date'] = pd.to_datetime(df_train['Expiry_date'])
df_test['Expiry_date'] = pd.to_datetime(df_test['Expiry_date'])

# df_train.sort_values(by=['Expiry_date'], inplace=True)

# resetting the dataframe index to new time sorted values
# df_train.reset_index(drop=True, inplace=True)
df_train.head()

        Image_path Insurance_company  ...  Condition  Amount
0  img_4513976.jpg                BQ  ...          0     0.0
1  img_7764995.jpg                BQ  ...          1  6194.0
2   img_451308.jpg                 A  ...          0     0.0
3  img_7768372.jpg                 A  ...          1  7699.0
4  img_7765274.jpg                AC  ...          1  8849.0

[5 rows x 8 columns]

In [ ]:
# date_feature_extraction extracts features from date type
def date_feature_extraction(df, field):
  df['year'] = df[field].dt.year
  df['month'] = df[field].dt.month
  df['day'] = df[field].dt.day
  df['dayofweek'] = df[field].dt.dayofweek
  df['week'] = df[field].dt.week
  df['weekofyear'] = df[field].dt.weekofyear
  df['dayofyear'] = df[field].dt.dayofyear
  df['days_in_month'] = df[field].dt.days_in_month

  # Years until current_year
  current_year = date.today().year
  df['currentYear-year'] = df['year'].map(lambda year: current_year-year)

In [ ]:
date_feature_extraction(df_train, 'Expiry_date')
date_feature_extraction(df_test, 'Expiry_date')
df_train.head()

        Image_path Insurance_company  ...  days_in_month  currentYear-year
0  img_4513976.jpg                BQ  ...             31                -5
1  img_7764995.jpg                BQ  ...             31                -4
2   img_451308.jpg                 A  ...             31                -1
3  img_7768372.jpg                 A  ...             31                -1
4  img_7765274.jpg                AC  ...             31                -5

[5 rows x 17 columns]

In [ ]:
# unique entries in Insurance_company
df_train['Insurance_company'].nunique()

11

### Encoding Categorical Variables

In [ ]:
from sklearn import preprocessing

categorical_columns_list = ['Insurance_company']

label_object = {}
categorical_columns = categorical_columns_list
for col in categorical_columns:
    labelencoder = preprocessing.LabelEncoder()
    labelencoder.fit(df_train[col].astype(str))
    df_train[col] = labelencoder.transform(df_train[col].astype(str))
    df_test[col] = labelencoder.transform(df_test[col].astype(str))
    label_object[col] = labelencoder



# Sample inverse_transform
label_object['Insurance_company'].inverse_transform(df_train['Insurance_company'][:5])

array(['BQ', 'BQ', 'A', 'A', 'AC'], dtype=object)

In [ ]:
df_train.head()

        Image_path  Insurance_company  ...  days_in_month  currentYear-year
0  img_4513976.jpg                  6  ...             31                -5
1  img_7764995.jpg                  6  ...             31                -4
2   img_451308.jpg                  0  ...             31                -1
3  img_7768372.jpg                  0  ...             31                -1
4  img_7765274.jpg                  2  ...             31                -5

[5 rows x 17 columns]

In [ ]:
df_train.to_csv('train_preprocessed.csv', index=False)
df_test.to_csv('test_preprocessed.csv', index=False)

df_train = pd.read_csv('train_preprocessed.csv')
df_test = pd.read_csv('test_preprocessed.csv')

In [ ]:
df_train.head()

        Image_path  Insurance_company  ...  days_in_month  currentYear-year
0  img_4513976.jpg                  6  ...             31                -5
1  img_7764995.jpg                  6  ...             31                -4
2   img_451308.jpg                  0  ...             31                -1
3  img_7768372.jpg                  0  ...             31                -1
4  img_7765274.jpg                  2  ...             31                -5

[5 rows x 17 columns]

In [ ]:
df_test.head()

        Image_path  Insurance_company  ...  days_in_month  currentYear-year
0  img_4538519.jpg                  3  ...             30                -4
1  img_7766002.jpg                  7  ...             31                -7
2  img_4637390.jpg                  2  ...             30                -2
3  img_4516108.jpg                  4  ...             29                -7
4  img_4517008.jpg                  4  ...             31                -1

[5 rows x 15 columns]